.benefits {
  padding: 80px 5%;
  background-color: #ffffff;
  text-align: center;
  
  
}

.benefits-header h2 {
  font-size: 32px;
  font-weight: 700;
  color: #0f172a;
}

.benefits-header p {
  margin-top: 8px; 
  font-size: 14px;
  color: #64748b;
}

.benefits-grid {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.benefit-card {
  background: #D6EAF8;
  padding: 28px 24px;
  border-radius: 16px;
  width: 31%;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.benefit-card:hover {
  transform: translateY(-6px);
}

.benefit-card h3 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
  color: #0f172a;
}

.benefit-card p {
  font-size: 13px;
  margin-top: 8px;
  color: #475569;
  line-height: 1.6;
}

.icon {
  width: 64px;
  height: 64px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.icon.red {
  background-color: #fde2e2;
}

.icon.green {
  background-color: #d1fae5;
}

.icon.teal {
  background-color: #ccfbf1;
}

.benifit-cont {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.benefit-card1{
  background: #D6EAF8;
  padding: 28px 24px;
  border-radius: 16px;
  width: 31%;
  text-align: left;
  margin-top: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  
}

.benefit-card1:hover {
  transform: translateY(-6px);
}

.benefit-card1 h3 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
  color: #0f172a;
}

.benefit-card1 p {
  font-size: 13px;
  margin-top: 8px;
  color: #475569;
  line-height: 1.6;
}



@media (max-width: 900px) {

  .benefits-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .benifit-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }


  .benefit-card,
  .benefit-card1 {
    width: 90%;
    max-width: 600px;
  }
}

