.why-different {
    background-color: #dff1fb;
    padding: 80px 20px;
    text-align: center;
}

.why-different h2 {
    font-size: 32px;
    font-weight: 700;
    color: #0f172a;
}

.subtitle {
    font-size: 14px;
    color: #475569;
    margin-top: 8px;
}

.why-different-content {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    max-width: 1200px;
    margin-inline: auto;
}

.why-image img {
    width: 420px;
    border-radius: 5px;
    object-fit: cover;
}

.why-features {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 420px;
    text-align: left;
}

.feature-item {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.icon{
    width: 56px;
    height: 56px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}



.feature-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
    color: #0f172a;
}

.feature-item p {
    font-size: 13px;
    color: #475569;
    line-height: 1.5;
}

@media (max-width: 900px) {
    .why-different{
        background-color: white;
        padding: 20px 10px;
    }

    .why-different h2{
        font-size: 25px;
        font-weight: 700;
        font-style: bold;
    }
    .why-different-content {
        display: flex;
        flex-direction: column;
       text-align: center;
       gap: 30px;
       
    }

    .why-image {
        order: 1;
    }
    .why-image img {
        width: 100%;
        max-width: 360px;
    }

    .why-features {
        order: 2;
        max-width: 100%;
    }
}
