.whyuswrapper {
    width: 100%;
    height: 200px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    animation: fadeIn 1.2s ease-in-out; 
}

.whyuswrapper h1 {
    font-size: 36px;
    font-family: Poppins;
    font-weight: 700;
    color: #212121;
    opacity: 0;
    transform: translateY(-20px);
    animation: slideDown 1s ease-in-out forwards;
    animation-delay: 0.3s; 
}

.sponsorsLogos {
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.sponsorsLogos img {
    width: 125px;
    padding: 10px;
    margin-top: 10px;
    object-fit: contain;
    animation: float 3s ease-in-out infinite; 
    transition: transform 0.3s ease-in-out;
}

.sponsorsLogos img:hover {
    transform: scale(1.1); 
}



@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}


@media (max-width: 480px) {
    .sponsorwrapper {
        width: 100%;
        padding: 40px 20px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
   
}

.sponsorsLogos {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 30px;
   
}

.sponsorsLogos img {
    max-width: 120px;
    height: auto;
}

.sponsorsLogos img:nth-child(1),
.sponsorsLogos img:nth-child(2) {
  display: block;
}

.whyuswrapper {
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
}

.whyuswrapper h1{
   
    /* padding: 0 10px; */
}
}

  
/*
  .sponsorwrapper {
        height: max-content;
        gap: 10px;
        padding: 20px;
    }
    .sponsorsLogos {
        flex-wrap: wrap;
        gap: 10px;
        height: max-content;
    }
    .sponsorsLogos img {
        width: 80px;
    }
    .whyuswrapper {
        /* background-color: blueviolet; */
        /* display: flex;
        align-items: center;
    }  */
